---
const { size = 4 } = Astro.props;

const numericValue = parseFloat(size);
const containerSize = `${numericValue + 0.5}rem`;
---

<div
  class="logo__container"
  style={`width: ${containerSize}; height: ${containerSize};`}
>
  <p class="logo__letter--dark" style={`font-size: ${numericValue}rem`}>J</p>
</div>

<style>
  .logo__letter--dark {
    font-weight: 900;
    color: black;
    text-shadow:
      0.5px 0.5px 0px rgba(255, 255, 255, 0.2),
      -0.5px -0.5px 0px rgba(255, 255, 255, 0.2),
      0.5px -0.5px 0px rgba(255, 255, 255, 0.2),
      -0.5px 0.5px 0px rgba(255, 255, 255, 0.2),
      0.5px 0.5px 0.5px rgba(255, 255, 255, 0.2),
      -4px 4px 1px hsla(0, 0%, 0%, 0.4);
  }
  .logo__container {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 50%;
  }
</style>
