---
// Recibe el tamaño como número que representará píxeles
const { size = 64 } = Astro.props;

// Asegúrate de que sea un número
const numericValue = parseFloat(size);
const containerSize = `${numericValue}px`;
const fontSize = `${numericValue * 0.8}px`; // La fuente será el 80% del tamaño del contenedor
---

<div
  class="logo__container"
  style={`width: ${containerSize}; height: ${containerSize};`}
>
  <p class="logo__letter--dark" style={`font-size: ${fontSize}`}>J</p>
</div>

<style>
  .logo__letter--dark {
    font-weight: 900;
    color: black;
    text-shadow:
      0.5px 0.5px 0px rgba(255, 255, 255, 0.2),
      -0.5px -0.5px 0px rgba(255, 255, 255, 0.2),
      0.5px -0.5px 0px rgba(255, 255, 255, 0.2),
      -0.5px 0.5px 0px rgba(255, 255, 255, 0.2),
      0.5px 0.5px 0.5px rgba(255, 255, 255, 0.2),
      -4px 4px 1px hsla(0, 0%, 0%, 0.4);
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  .logo__container {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 50%;
  }
</style>
