---
import HeaderMobile from "@/components/molecules/HeaderMobile.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout nav={false}>
  <HeaderMobile />
  <section class="algorithms">
    <h1 class="algorithms__title">Algoritmos y estructuras de datos</h1>
  </section>
</Layout>

<style>
  .algorithms {
    padding-top: 72px;
  }
  .algorithms__title {
    text-align: center;
    text-transform: capitalize;
    color: var(--text-white);
    font-size: 1.5rem;
  }
</style>
