---
import Layout from "../layouts/Layout.astro";
import tablaCosteo from "../assets/tabla-costeo.webp";
import task from "../assets/task.webp";
import platziMessage from "../assets/platzimessage.webp";
import Project from "../components/Project.astro";
import About from "../components/About.astro";
import Presentation from "../components/Presentation.astro";
---

<Layout>
  <div class="container">
    <main class="">
      <Presentation />

      <section class="projects">
        <h2>Mis proyectos</h2>
        <div class="projects__container">
          <Project
            img={tablaCosteo.src}
            title="Tabla de Costeo"
            description="Verifica el costo de los ingredientes y empaques de tus recetas, calcula el valor real de tu producto y dependiendo del precio de venta, calcula el margen de ganancia."
            tags={["React", "React-Router", "Tailwind CSS"]}
            repo="https://github.com/joseverdev/tabla-costeo"
            web="https://tabla-costeo.netlify.app/"
          />
          <Project
            img={task.src}
            title="Task"
            description="Aplicación de tareas que te permite gestionar tus tareas, agregar, eliminar y marcar como completadas."
            tags={["Next.js", "Node.js", "SQL"]}
            repo="https://github.com/joseverdev/task"
          />
          <Project
            img={platziMessage.src}
            title="PlatziMessage"
            description="Aplicación de mensajería que permite a los usuarios enviar y recibir mensajes en tiempo real."
            tags={[
              "React",
              "React-Router",
              "Node.js",
              "WebSockets",
              "PostgreSQL",
            ]}
            repo="https://github.com/joseverdev/platzi-message"
          />
        </div>
      </section>
      <About />
    </main>
  </div>
</Layout>

<style> 
  .projects__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: 720px) {
    .presentation-container {
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      max-width: 720px;
      margin: auto;
      flex-direction: row-reverse;
      margin-bottom: 72px;
      margin-top: 48px;
    }
   
    .shadow-dark svg:hover {
      box-shadow: 0 2px 0px var(--text-darktheme);
    }
  }
</style>
