---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <div class="container">
    <main class="">
      <Presentation />
      <Projects />
      <Skills />
      <!-- <Blog /> -->
      <Contact />
    </main>
  </div>
</Layout>

<style>
  .projects__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: 720px) {
    .presentation-container {
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      max-width: 720px;
      margin: auto;
      flex-direction: row-reverse;
      margin-bottom: 72px;
      margin-top: 48px;
    }

    .shadow-dark svg:hover {
      box-shadow: 0 2px 0px var(--text-darktheme);
    }
  }
</style>
