
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Primary Meta Tags -->
	<title>Joseverdev portfolio</title>
	<meta name="title" content='joseverdev portfolio' />
	<meta name="description" content='Portfolio de desarrollador de joseverdev' />
	
	<!-- facebook -->
	<meta property="og:title" content="Joseverdev Portfolio" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="../assets/web.png"/>
	<meta property="og:url" content="https://joseverdev.netlify.app/"/>

</head>