---
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
	
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Primary Meta Tags -->
  <title>Joseverdev portfolio</title>
  <meta name="title" content="joseverdev portfolio" />
  <meta name="description" content="Portfolio de desarrollador de joseverdev" />

  <!-- facebook -->
  <meta property="og:title" content="Joseverdev Portfolio" />
  <meta property="og:type" content="article" />
	<meta property="og:image" content="https://joseverdev.netlify.app/assets/web.png" />
  <meta property="og:url" content="https://joseverdev.netlify.app/" />
  <meta
    property="og:description"
    content="Portfolio de desarrollador de joseverdev"
  />
</head>
