---
import { Home, FolderCode, Brain, MailPlus } from "@lucide/astro";
import IconLogo from "../icons/IconLogo.astro";

const navItems = [
  { path: "#inicio", label: "Inicio", icon: Home },
  { path: "#proyectos", label: "Proyectos", icon: FolderCode },
  { path: "#skills", label: "Skills", icon: Brain },
  { path: "#contacto", label: "Contacto", icon: MailPlus },
];
---

<nav>
  <div class="nav-container">
    <div class="nav__logo-container">
      <IconLogo size="2" />
      <p class="nav__username">joseverdev</p>
    </div>

    <ul class="navlist">
      {
        navItems.map((item) => {
          const Icon = item.icon;
          return (
            <li class={item.path === "/" ? "indexPath" : ""}>
              <a
                href={item.path}
                class={item.path === "/" ? "item indexPath" : "item"}
              >
                <div class="navlist__icon">{Icon && <Icon size={18} />}</div>
                <span class="navlist__label">{item.label}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>

<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    const path = window.location.pathname;
    console.log(path);
    if (path === "/") {
      document.querySelector(".indexPath").classList.add("active");
    } else if (path === "/blog" || path === "/blog/") {
      document.querySelector(".blogPath").classList.add("active");
    }
  });

  const $navLinks = document.querySelectorAll('.navlist a[href^="#"]');

  $navLinks.forEach((link) => {
    link.addEventListener("click", function (e) {
      e.preventDefault();

      const targetId = this.getAttribute("href");
      const targetElement = document.querySelector(targetId);

      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });
</script>

<style>
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  nav {
  }
  .navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
    list-style: none;
    position: relative;
    color: #888888;
  }
  .logo {
    width: 56px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    left: 0;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }

  nav {
    background-color: var(--background-dark);
    border-top: 1px solid var(--border);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 48px;
  }
  .nav__username{
    display: none;
  }
  .navlist__label {
    user-select: none;
  }
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 14px;
    font-weight: 700;
  }

  @media (min-width: 600px) {
    nav {
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: fit-content;
      border-bottom: 1px solid var(--border);
    }
    .nav-container {
      display: flex;
      gap: 4rem;
      padding: 1rem 2rem;
    }
    .navlist {
      justify-content: space-evenly;
    }
    .navlist__label {
      font-size: 1rem;
      color: var(--text-white);
    }
    .navlist__icon {
      display: none;
    }
  }

  @media (min-width: 1080px) {
    .nav__logo-container {
      align-items: center;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .nav-container{
      align-items: center;
      padding: 0.5rem 2rem;
    }
    .nav__username {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
</style>
