---
import { ArrowRight } from "@lucide/astro";
export interface Props {
  title: string;
  description: string;
  tags: string[];
  link: string;
}

const {
  title = "Título por defecto",
  description = "Descripción por defecto.",
  tags = [],
  link = "#",
} = Astro.props;
---

<article class="post">
  <div class="post__description">
    <div class="post_texts">
      <h3 class="title-3">{title}</h3>
      <p class="post__sinopsis">
        {description}
      </p>
      <div class="post_tags">
        {tags.map((tag) => <p class="post_tag">{tag}</p>)}
      </div>
      <div class="details">
        <p>28 junio 2023</p>
        <a href={link} class="post__link">
          Leer mas
          <ArrowRight size={16} />
        </a>
      </div>
    </div>
  </div>
</article>

<style>
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-grey);
  }
  .post__link {
    color: var(--text-white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .post_tag {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 20px;
    color: var(--text-grey);
    font-size: 0.7rem;
    font-weight: thinner;
    background-color: #61dafb20;
  }
  .post__sinopsis {
    color: var(--text-grey);
    line-height: 1.2;
  }

  .post__description {
    padding: 1rem;
  }
  .title-3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    line-height: normal;
    text-transform: initial;
    margin-bottom: 1rem;
  }

  .post {
    padding: 0px;
    text-align: left;
    transition: all 0.3s ease;
    border: 1px solid var(--border);
    transition: all 0.3s ease-out;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
  }
</style>
