---
import {
  LinkedIn,
  Instagram,
  Youtube,
  Twitter,
  Github,
} from "../icons/SocialIcons";
const socialLinks = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/joseverdev/",
    icon: LinkedIn,
    ariaLabel: "LinkedIn",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/joseverdev/",
    icon: Instagram,
    ariaLabel: "Instagram",
  },
  {
    name: "Youtube",
    url: "https://www.youtube.com/@joseverdev",
    icon: Youtube,
    ariaLabel: "Youtube",
  },
  {
    name: "Twitter",
    url: "https://x.com/joseverdev",
    icon: Twitter,
    ariaLabel: "Twitter ahora X",
  },
  {
    name: "GitHub",
    url: "https://github.com/joseverdev",
    icon: Github,
    ariaLabel: "GitHub",
  },
];
---

<ul class="links">
  {
    socialLinks.map(({ name, url, icon, ariaLabel }) => (
      <li>
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={ariaLabel}
        >
          <Fragment set:html={icon} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .links {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 300px;
    margin: auto;
  }
  .links a {
    cursor: pointer;
    padding: 0.5rem 0px;
  }
  .links svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  @media (min-width: 600px) {
  }
</style>
