---
const { hidden = true } = Astro.props;
---

<div class={`logo ${hidden ? "logo--hideable" : "logo--always-visible"}`}>
  <div class="logo__container">
    <img class="logo__img" src="/images/logo.png" alt="" />
  </div>
  <a href="/" class="logo__username">JOSEVERDEV</a>
</div>

<style>
  .logo {
    background-color: var(--background-dark);
    position: fixed;
    top: 0; /* Fijo arriba */
    left: 0; /* Desde el borde izquierdo */
    right: 0; /* Hasta el borde derecho */
    width: 100%; /* Ocupa todo el ancho */
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333333;
    z-index: 999;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box; /* Incluye padding en el ancho total */
  }

  .logo__container {
    width: 38px;
    height: 38px;
  }

  .logo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo__username {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  .logo__username:hover {
    opacity: 0.8;
  }

  @media (min-width: 600px) {
    .logo--hideable {
      display: none;
    }

    .logo--always-visible {
      display: flex;
    }
  }
</style>
